@page
@model PoC.OpnIddict.Client.Pages.GwCallback
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Callback Page</title>
</head>
<body>
<label id="result">@Model.ResponseText</label>
</body>
</html>